.media
  .media-left
    = image_tag @user.avatar.url,:class => "ava"
  .media-body
    %br
    %h4.media-heading Name : #{@user.username} 
    %h5 E-Mail : #{@user.email}
    
    -if @user.categories!=[]
      %h5 Intersted in :
      -@user.categories.each do |category|
        %p= category.name
= render 'form'
  