= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  -for category in Category.all 
    = check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category) 
    = category.name 
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :body
    %br/
    = f.text_area :body , :class=>'redactor'
  .actions
    = f.submit
