= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h4
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  = f.label "Post related topices:"
  %br/
  -for category in Category.all 
    = check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category) 
    = category.name 
  .field
    = f.label :title
    %br/
    = f.text_field :title,:class=>'form-control'
  .field
    = f.label :description
    %br/
    = f.text_field :description,:class=>'form-control'
  .field
    = f.label :body
    %br/
    = f.text_area :body , :class=>'redactor' 
  .field
    = f.label :tag_list, "Tags :" 
    %br/
    = f.text_field :tag_list , placeholder: "Tags separated with comma",:class=>'form-control'
  %br/
  %br/
  %br/
  .actions
    = f.submit
