%p#notice= notice
- @posts.each do |post|
  = post.title
  = post.description
  = link_to 'Show', post
  = link_to 'Edit', edit_post_path(post)
  = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path
