- @posts.each do |post|    
  .post
    .row
      .col-md-2
        = image_tag post.user.avatar_url ,:class=>"ava"
      .col-md-8
        %h3= link_to post.title, post
        %h5= post.description
        %small
          Posted by 
          = link_to post.user.username,user_path(post.user[:id])
          = time_ago_in_words(post.created_at)
      .col-md-2
        -if post.comments.count != 0
          .comtext
            %br
            %br
            .tex
              = post.comments.count
            
            %h5 Comments
        -else 
          %br
          %br
          %h5 No comments yet

%br/

= will_paginate @posts ,:renderer=> "BootstrapPagination::Rails" ,:class=>"pagin"