-if notice 
  #notice_wrapper
    %p.notice= notice
-elsif alert
  #notice_wrapper
    %p.alert= alert
%div.head

  = link_to "News Blog" ,posts_path ,:class =>"btn btn-link sitename"
  %ul.nav.navbar-nav.position
    -Category.all.each do |c| 
      %li= link_to c.name, posts_path(c)
  / .head_buttons
  = render 'layouts/header_buttons'
  / .search_box
  = render 'layouts/search_box'
  

